@font-face {    font-family: 'barlowmedium';    src: url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.eot');    src: url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.eot?#iefix') format('embedded-opentype'),
               url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.woff') format('woff'),         url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.ttf') format('truetype'),         url('../fonts/barlow_medium_macroman/Barlow-Medium-webfont.svg#barlowmedium') format('svg');    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'barlowlight';
    src: url('../fonts/barlow_medium_macroman/Barlow-Light-webfont.eot');
    src: url('../fonts/barlow_medium_macroman/Barlow-Light-webfont.eot?#iefix') format('embedded-opentype'),
       
         url('../fonts/barlow_medium_macroman/Barlow-Light-webfont.woff') format('woff'),
         url('../fonts/barlow_medium_macroman/Barlow-Light-webfont.ttf') format('truetype'),
         url('../fonts/barlow_medium_macroman/Barlow-Light-webfont.svg#barlowlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barlowbold';
    src: url('../fonts/barlow_medium_macroman/Barlow-Bold-webfont.eot');
    src: url('../fonts/barlow_medium_macroman/Barlow-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       
         url('../fonts/barlow_medium_macroman/Barlow-Bold-webfont.woff') format('woff'),
         url('../fonts/barlow_medium_macroman/Barlow-Bold-webfont.ttf') format('truetype'),
         url('../fonts/barlow_medium_macroman/Barlow-Bold-webfont.svg#barlowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {background: #000; font-family: 'barlowmedium';  }
.homepage{background-position:center top;background-repeat:no-repeat;background-image:url(../img/home.jpg);position: relative; width:100%;height: 1019px;}
.teoricoactual{background-position:center top;background-repeat:no-repeat;background-image:url(../img/fondo1.jpg);position: relative; width:100%;height: 1019px;display: none}
.lineal1,.lineal2,.lineal3,.lineal4 {background-position:center bottom;background-repeat:no-repeat;background-image:url(../img/bglineal.jpg);position: relative; width:100%;height: 1019px;display: none}
.wrapper{position: relative;}
.botonhome {background-position:center top;background-repeat:no-repeat;background-image:url(../img/botonentrar.png);position: absolute; width:257px;height: 66px;top: 611px;left: 90px;}
.nl{display: block;}
.top {position: relative; color:#fff;font-size: 35px; text-align: center;display: flex;align-items: baseline;justify-content: space-around;z-index:777;}
.logo {background-position:center center;background-repeat:no-repeat;background-image:url(../img/logo.png);height:97px;top: 23px;left: 100px;position: relative;flex-grow: 1}
.titulo {width:auto;flex-grow: 11;margin: 30px 0 0 0;font-family: 'barlowmedium';display: block;padding-left:40px}
.titulo strong{font-family: 'barlowbold'}
.right {flex-grow: 1; ;}
.teoricoactual .img {    display: flex;   justify-content: center;    align-content: center;    margin: 13px;}
.lineal1 .img,.lineal2 .img,.lineal4 .img {display: block;}
.footer { background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=');display: flex;align-items: center;justify-content: left; position: fixed;z-index:666; bottom: 0;color:#fff;padding: 10px 100px;width: 100%;}
.footer .text {  font-family: 'barlowlight';font-size: 29px; margin-left: 15px; margin-right: 733px;}
.footer strong {  font-family: 'barlowbold';}
.footerright{display: flex; justify-content: flex-end;   align-content: center;  text-transform:uppercase; }
.footerright .botonfooter { font-family: 'barlowmedium'; font-size: 26px;background-position:right center;background-repeat:no-repeat;background-image:url(../img/flecha.png); padding-right: 40px;}
.topselector{position:absolute;z-index:667;width:550px;top:123px;background-color:#e2e2e3;font-size:22px;color:#333231;text-align: left;font-family:'barlowmedium';display: none;left:-225px;margin-left: 50%;}
.topselector ul{list-style:none;margin: 0;padding: 0;}
.topselector li{border-bottom:1px solid #003064;height:53px;padding:0!important;margin:0!important;display:flex;align-items:center;background-position: 97% center;background-repeat: no-repeat;background-image: url(../img/mas.png);text-indent: 20px; }
.hl{display: none;position: absolute;width: 100%;height: 864px;background-repeat: no-repeat;z-index:43}
.lineal1 .hl.hl0 {    background-image: url(../img/hl0.png);    background-position: 136px 195px;}
.lineal1 .hl.hl1 {    background-image: url(../img/hl1.png);   background-position: 784px 337px;}
.lineal1 .hl.hl2 {    background-image: url(../img/hl2.png);  background-position: 783px 188px;}
.lineal1 .hl.hl3 {    background-image: url(../img/hl3.png);  background-position: 1377px 170px;}
.lineal1 .hl.hl0-0 {    background-image: url(../img/hl0-0.png);    background-position: 136px 195px;}
.lineal1 .hl.hl0-1 {    background-image: url(../img/hl0-1.png); background-position: 141px 515px;}
.lineal1 .hl.hl0-2 {    background-image: url(../img/hl0-2.png);  background-position: 455px 195px;}
.lineal1 .hl.hl0-3 {    background-image: url(../img/hl0-3.png);  background-position: 781px 511px;z-index: 555;}
.lineal1 .hl.hl0-4 {    background-image: url(../img/hl0-4.png);  background-position: 782px 506px;}
.lineal1 .hl.hl1-0 {    background-image: url(../img/hl1-0.png);   background-position: 783px 338px;}
.lineal1 .hl.hl1-1 {    background-image: url(../img/hl1-1.png);   background-position: 1108px 460px;}
.lineal1 .hl.hl2-0 {    background-image: url(../img/hl2-0.png);    background-position: 782px 189px;}
.lineal1 .hl.hl2-1 {    background-image: url(../img/hl2-1.png);   background-position: 1090px 189px}
.lineal1 .hl.hl2-2 {    background-image: url(../img/hl2-2.png);  background-position:1184px 459px}
.lineal1 .hl.hl2-3 {    background-image: url(../img/hl2-3.png);  background-position:  1099px 512px;}
.lineal1 .hl.hl3-0 {    background-image: url(../img/hl3-0.png);background-position:     1373px 168px;}
.an{display: none;position: absolute;width: 100%;height: 864px;background-repeat: no-repeat;z-index:43}
.an.an0 {    background-image: url(../img/an0.png);  background-position: 142px 336px;}
.an.an1 {    background-image: url(../img/an1.png);  background-position: 141px 187px;}
.an.an2 {    background-image: url(../img/an2.png);  background-position: 137px 193px;}
.info {z-index:44;  transform: scale(0); transition: all .5s;}
.info0{position:absolute;top:352px;left:351px;}
.info1{position:absolute;top: 369px;left: 843px; }
.info2{position:absolute;top: 369px;left: 1154px; }
.info3{position:absolute;top: 243px;left: 1497px; }
.animate{  transform: scale(1);}
.top2{ display: none;z-index: 666; }
.subtitulo{color:#fff;text-align:center;font-size:22px;font-family:'barlowmedium'}
.submenusubcategoria,.submenusegmentos,.submenuanalisis,.submenueditar{display:flex;justify-content:center;align-items:center;position: absolute;width: 900px;margin-left: 50%;left: -450px;z-index:666; }
.lineal2 .submenuanalisis{width: 960px;left: -480px;}
.submenuanalisis {/*margin-top:100px;*/}
.submenusegmentos,.submenueditar{width: 1200px;margin-left: 50%;left: -600px;flex-wrap: wrap;}
 
.botonsubcat,.botonsegmento,.botonanalisis,.botoneditar{font-size:18px;text-transform:uppercase;color:#fff;padding:5px 33px;background-color:#525558;border-radius:17px;border:2px solid #fff;margin:100px 5px 0 5px;font-family:barlowmedium}
.botonsegmento,.botoneditar {margin: 25px 5px 0 5px;	}
.botoneditar{margin-top: 0;}
.lineal1 .info0-0 {    top: 329px;left: 229px;z-index:44}
.lineal1 .info0-1 {   top: 563px;    left: 225px;z-index:44}
.lineal1 .info0-2 {  top: 418px;left: 554px;z-index:44}
.lineal1 .info0-3 {  top: 497px;left: 825px;z-index:44}
.lineal1 .info0-4 {  top: 563px;left: 887px;z-index:44}
.lineal1 .info1-0 {  top: 380px;left: 869px;z-index:44}
.lineal1 .info1-1 {  top: 549px;left: 1441px;z-index:44}
.lineal1 .info2-0 { top: 216px;left: 871px;z-index:44}
.lineal1 .info2-1 { top: 282px;left: 1193px;z-index:44}
.lineal1 .info2-2 {  top: 427px;left: 1239px;z-index:44}
.lineal1 .info2-3 { top: 505px;left: 1197px;z-index:44}
.lineal1 .info3-0 { top: 262px;left: 1525px;z-index:44}
#canvas1 {    width: 100%;   height: 864px; margin-top: 50px;}
.loader{position:absolute;width:400px;height:300px;top:400px;left:-200px;margin-left:50%;text-align:center;font-family:barlowlight;font-weight:700}
.loadertxt{color:#fff;font-size:30px;margin-top:30px}
.be1{background-color:#7b858e; margin-top: 30px; }
.be2{background-color:#c2a633; margin-top: 30px;  }
.be3{background-color:#c32c2d; margin-top: 30px;  }
.be4{background-color:#318bad; margin-top: 30px;  }
.vaciar{color:#fff;font-size:18px;font-family:'barlowbold';text-align:center;position:absolute;width:70px;left:-35px;margin-left:50%;text-decoration:underline;top:190px;display: none;}
.ajustar{color:#fff;font-size:18px;font-family:'barlowbold';text-align:center;position:absolute;width:70px;left:78px;margin-left:50%;text-decoration:underline;top:190px;display: none;}
.ajustar.ajustar2{left:241px}
.anadir{color:#fff;font-size:18px;font-family:'barlowbold';text-align:center;position:absolute;width:70px;left:403px;margin-left:50%;text-decoration:underline;top:190px;display:none}

.calculadora{background-image:url(../img/calculadora.png);background-position:center center;background-repeat:no-repeat;width:393px;height:91px;position:absolute;top:240px;left:-200px;margin-left:50%}
.calctitle{color:#94875e;text-transform:uppercase;font-family:'barlowmedium';font-size:18px;text-indent:82px;padding-top:9px}
.calctotal{color:#fff;text-transform:uppercase;font-family:'barlowmedium';font-size:31px;text-indent: 68px;padding-top: 4px; text-align: center}

.lineal4 .submenusegmentos{width: 1156px;left:-578px;}
.lineal4 .hl.hl0 {    background-image: url(../img/2hl0.png);  background-position: 133px 169px;}
.lineal4 .hl.hl1 {    background-image: url(../img/2hl1.png);   background-position: 788px 187px;}
.lineal4 .hl.hl2 {    background-image: url(../img/2hl2.png);  background-position: 990px 328px;;}
.lineal4 .hl.hl3 {    background-image: url(../img/2hl3.png);  background-position: 1382px 167px;}
.lineal4 .hl.hl0-0 {    background-image: url(../img/2hl0-0.png);   background-position: 132px 168px;}
.lineal4 .hl.hl0-1 {    background-image: url(../img/2hl0-1.png); background-position: 131px 556px;}
.lineal4 .hl.hl0-2 {    background-image: url(../img/2hl0-2.png); background-position: 460px 188px;}
.lineal4 .hl.hl0-3 {    background-image: url(../img/2hl0-3.png); background-position: 871px 628px;z-index: 555;}
.lineal4 .hl.hl0-4 {    background-image: url(../img/2hl0-4.png);  background-position: 782px 506px;}
.lineal4 .hl.hl1-0 {    background-image: url(../img/2hl1-0.png);   background-position: 989px 632px;}
.lineal4 .hl.hl1-1 {    background-image: url(../img/2hl1-1.png);   background-position: 1113px 329px}
.lineal4 .hl.hl2-0 {    background-image: url(../img/2hl2-0.png);    background-position: 789px 182px;}
.lineal4 .hl.hl2-1 {    background-image: url(../img/2hl2-1.png);   background-position:790px 258px;}
.lineal4 .hl.hl2-2 {    background-image: url(../img/2hl2-2.png); background-position: 1259px 257px;z-index: 47;}
.lineal4 .hl.hl2-3 {    background-image: url(../img/2hl2-3.png); background-position: 1115px 188px;}
.lineal4 .hl.hl3-0 {    background-image: url(../img/2hl3-0.png);background-position:1378px 170px;}

.lineal4 .info0-0 {    top: 324px;left: 229px;z-index:44}
.lineal4 .info0-1 { top: 582px;   left: 225px;z-index:44}
.lineal4 .info0-2 { top: 385px;left: 554px;z-index:44}
.lineal4 .info0-3 { top: 669px;left: 897px;z-index:44}
.lineal4 .info0-4 {  top: 563px;left: 887px;z-index:44}
.lineal4 .info1-0 { top: 646px;left: 1283px;z-index:44}
.lineal4 .info1-1 {top: 491px;left: 1279px;z-index:44}
.lineal4 .info2-0 { top: 216px;left: 871px;z-index:44}
.lineal4 .info2-1 {top: 326px;left: 885px;z-index:44}
.lineal4 .info2-2 { top: 243px;left: 1273px;z-index:44}
.lineal4 .info2-3 { top: 162px;left: 1177px;z-index:44}
.lineal4 .info3-0 { top: 249px;left: 1525px;z-index:44}
